@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 245, 246;
  --background-start-rgb: 52, 77, 38;
  --background-end-rgb: 27, 36, 36;}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@layer components {
  .btn-spotify {
    @apply py-2 px-4 bg-spotify_accent font-semibold rounded-lg shadow-md text-text hover:opacity-80 select-none;
  }
  .btn-nav {
    @apply hover:opacity-80 focus:text-spotify_accent select-none
  }
  .btn-filter-unchecked{
    @apply py-2 px-4 text-center rounded-full bg-primary_button  hover:bg-secondary_button hover:text-text hover:opacity-80 select-none
  }
  .btn-filter-checked{
    @apply py-2 px-4 text-center rounded-full bg-secondary_button text-text select-none
  }
}